In [38]:
import requests
import csv
import io

response_AAPL = requests.get("https://api.twelvedata.com/time_series?apikey=77d82465af6f42aa8832e39f63204307&interval=30min&symbol=AAPL&start_date=2022-11-30 00:00:00&end_date=2023-11-30 00:00:00&format=CSV&outputsize=5000")
type(response)
#print(response.text)

#df = pd.read_csv(io.StringIO(response.text), sep=',', header=1, usecols=['Jour', 'Ouverture', 'Valeur maximale', 'Valeur minimale', 'Fermeture', 'Volume'] , quoting=csv.QUOTE_ALL)

requests.models.Response

In [39]:
df = pd.read_csv(io.StringIO(response.text), sep=';', header=0, quoting=csv.QUOTE_ALL) 
print(df.head(10))

              datetime       open       high        low      close   volume
0  2023-11-29 15:30:00  189.00999  189.44501  188.97000  189.35500  4438836
1  2023-11-29 15:00:00  189.33000  189.40500  189.00999  189.01500  1816329
2  2023-11-29 14:30:00  189.26500  189.35500  189.05000  189.33000  1528641
3  2023-11-29 14:00:00  189.47000  189.50000  189.17999  189.26350  1550574
4  2023-11-29 13:30:00  189.50500  189.50999  189.17999  189.46500  1360880
5  2023-11-29 13:00:00  189.71001  189.75500  189.28000  189.50031  1664234
6  2023-11-29 12:30:00  189.89000  189.92999  189.66499  189.70219  1284966
7  2023-11-29 12:00:00  189.92010  190.00000  189.52000  189.89999  1864451
8  2023-11-29 11:30:00  190.10001  190.27499  189.91029  189.92000  2322368
9  2023-11-29 11:00:00  190.93500  190.95500  190.05000  190.09740  2626330