# Partie 0 : API

In [7]:
import requests
import csv
import pandas as pd
import matplotlib.pyplot as plt


# Avec twelve data on recupère les données boursières de Google respectivement en prenant:
# Une période d'un an allant du 01/11/2022 au 01/11/2023, les cours à 30 minutes d'intervalles, et on recolte 5000 données par indice
response_GOOGL = requests.get("https://api.twelvedata.com/time_series?apikey=77d82465af6f42aa8832e39f63204307&interval=30min&symbol=GOOGL&type=stock&start_date=2022-11-01 00:00:00&end_date=2023-11-01 00:00:00&format=CSV&dp=4&outputsize=5000")

In [2]:
# On convertit les requetes en des fichiers Csv, qu'on nomme explicitement en fonction de chaque indice

def response_to_csv(response, csv_filename='output.csv'):
    try:
        response.raise_for_status()  # Lève une exception si la requête n'a pas réussi

        data = [line.split(';') for line in response.text.split('\n')]

        with open(csv_filename, 'w', newline='') as csv_file:
            csv.writer(csv_file, delimiter=' ').writerows(data)

        print(f"Les données ont été enregistrées avec succès dans {csv_filename}")

    except requests.exceptions.RequestException as err:
        print(f"Erreur de requête : {err}")

response_to_csv(response_GOOGL, 'data_GOOGL')

Les données ont été enregistrées avec succès dans data_GOOGL

In [9]:
# Observations des données contenues dans les fichiers csv sous forme de dataframes

# Chemin vers le fichier CSV
csv_filename = 'data_GOOGL'

# Chargez le fichier CSV dans un DataFrame
df_GOOGL = pd.read_csv(csv_filename)  

df_GOOGL.head(5)

                 datetime open high low close volume
0  2023-10-31 15:30:00 123.9300 124.2200 123.8300...
1  2023-10-31 15:00:00 123.7800 124.0050 123.7400...
2  2023-10-31 14:30:00 123.3800 123.8700 123.3100...
3  2023-10-31 14:00:00 123.5400 123.8050 123.3600...
4  2023-10-31 13:30:00 123.2300 123.6600 123.1550...